export TKG_CUSTOM_IMAGE_REPOSITORY="harbor.unknown/tkg-base"
export TKG_IMAGE_REPO="projects.registry.vmware.com/tkg"
export IMAGE_OUTPUT_DIR="/tmp/tkg-images"
export DEFINED_TKRS="v1.21.2_vmware.1-tkg.1"